.CartItem {
    margin: 20px;
    padding: 5px;
    border-bottom: solid 1px #575555;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.CartItem__start {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;


    .CartItem__infoProduct {
        height: 150px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .CartItem__quantity {
        width: 54px;
        display: flex;
        justify-content: center;
        background-color: white;
        border: 1px solid;


        & button {
            width: 15px;
            border: none;
        }

        & p {
            width: 24px;
            text-align: center;
        }
    }

}

.CartItem__end {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    .CartItem__subtotal{
        font-size: 20px;
        font-weight: bold;
    }
    .CartItem__deleteItem{
        cursor: pointer;
    }
}