.itemDetail {
    margin: 50px;
    display: flex;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
}

.itemDetailImgContainer {
    width: 45%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    & img{
        width: 100%;
        max-width: 500px;
        aspect-ratio: 1/1;
        border-radius: 10px;
    }
}

.itemDetail__detailContainer{
    
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}
.itemDetail__categoryCafe{
    & ul{
        margin: 20px;
        list-style: none;
        & li{
            margin: 5px;
        }
        & span{
            font-weight: bold;
        }
    }
}

.itemDetailTitle {
    font-size: 2rem;
}
.itemDetailNotas {
    font-style: italic;
    margin: 10px;
}
.itemDetailDescripcion{
    width: 95%;
    max-width: 500px;
    text-wrap: pretty;
}


.itemDetailPrecio {
    font-size: 2rem;
    font-weight: bolder;
   
}
.disponible{
    color: #169d3f;
}
.noDisponible{
    color: red;
}


