.itemDetail {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.itemDetailTitle {
    font-size: 2rem;
}
.itemDetailNotas {
    text-align: center;
    font-style: italic;
}
.itemDetailDescripcion{
    width: 95%;
    max-width: 500px;
    text-wrap: pretty;
}

.itemDetailImgContainer {
    width: 100%;
    min-width: 200px;
    display: flex;
    justify-content: center;
    & img{
        width: 100%;
        max-width: 500px;
        aspect-ratio: 1/1;
        border-radius: 10px;
    }
}
.itemDetailPrecio {
    font-size: 1.5rem;
}
.disponible{
    color: #169d3f;
}
.noDisponible{
    color: red;
}


