.item {
    position: relative;
    background-color: white;
    border-radius: 10px;
}

.itemImgContainer {
    width: 300px;
    height: 300px;

    & img {
        height: 100%;
        border-radius: 10px 10px 0 0;
    }
}

.item h3 {
    text-align: center;
    width: 95%;
    padding-top: 5px;
    margin-bottom: 20px;
    text-wrap: pretty;
}

.itemPrice {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.itemButtonContainer {
    display: flex;
    justify-content: center;
}

.detailButton {
    text-decoration: none;
    background-color: #423ebe;
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
}
.detailButton:hover {
    background-color: #2d298f;
}

