.Checkout_h1_message {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    align-self: stretch;
}

.Checkout {
    width: 90%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    
    & h1 {
        align-self: start;
    }
    & form{
        min-width: 250px;
        display: flex;
        flex-direction: column;
        align-items: start;
        
    }
    & input{
        display: block;
        width: 100%;
        max-width: 500px;
        margin: 10px;
        padding: 5px;
        border: none;
        border: 1px solid black;
        border-bottom: solid 3px #423ebe;
    }
    & input::placeholder{
        font-weight: bold;
    }
    & button{
    background-color: #423ebe;
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    }
    & button:hover{
        cursor: pointer;
        background-color: #40b850;
        outline: solid 2px black;
        color: black;
    }
    .waiting{
        background-color: #f74646;
    }
    .waiting:hover{
        background-color: #cc3535;
    }
}

.Checkout__Brief{
    padding: 30px;
    border: 1px solid black;
    & h2{
        text-align: center;
        text-decoration: underline;
        margin-bottom: 10px;
    }
    & h3{
        text-align: right;
        border-bottom: 3px double grey;
        margin-bottom: 20px;
    }
    .Checkout__briefProducts{
        border-bottom: 1px solid grey;
    }
    .bold{
        font-weight: bold;
    }
    
}

