.linkCategoryContainer {
    display: none;
}

nav {
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.brand {
    text-align: center;
    text-decoration: none;
    color: tomato;
    padding: 10px;
    cursor: pointer;
}

.nav__cartDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.dropdownMenuIcon {
    margin: 10px;
}

.dropdownMenuIcon:hover+div {
    display: flex;
}

.dropdownMenu {
    position: absolute;
    right: 10px;
    top: 60px;
    display: none;
    flex-direction: column;
    width: 100px;
    background-color: white;
    box-shadow: 2px 2px 5px black;
    border-radius: 2px;
}

.dropdownMenu:hover {
    display: flex;
}

.linkCategory {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.active {
    /* outline: solid; */
    border-radius: 10px 10px 0 0;
    border-bottom: solid;
    box-shadow: 0 2px 5px black;
}

@media (min-width: 769px) {

    .dropdownMenu,
    .dropdownMenuIcon {
        display: none;
    }

    nav {
        height: 100px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
    }

    nav>div {
        width: 33%;
        padding-inline: 30px;

    }




    .linkCategoryContainer {

        display: flex;
        justify-content: space-evenly;
    }

    .linkCategory {
        margin: 10px;

    }



    .linkCategory:hover {
        background-color: #2c2b2b;
        color: white;
    }

    .nav__cartDiv {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;

    }
}