* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-color: #f7f3ed;
/*     background: url("../src/assets/miscellaneous/Imagen_de_valeria_aksakovaa.jpg");
 */    background-size: contain;
}   

.ItemListContainer__h2 {
    text-align: center;
    margin-bottom: 100px;
}