.IDCoptions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    
}
.IDCbuttons{
    display: flex;
}
.iDCcontrol{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    font-weight: bold;
    background-color: white;
    

}
.iDCNumber {
    padding-block: 10px;
    cursor:default;
}
.iDCButton{
    border: none;
    background-color: white;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.iDCaddCartButton, .iDCviewCart{
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}
.visible{
    width: 100%;
    & select{
        width: 100%;
        padding: 5px;
        font-size: 16px;
    }
}

.noVisible{
    display: none;
}

