.itemDetailContador {
    display: flex;
    align-items: center;
    gap: 5px;
    
}
.iDCcontrol{
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    font-weight: bold;
    background-color: white;
    

}
.iDCNumber {
    padding-block: 10px;
    cursor:default;
}
.iDCButton{
    border: none;
    background-color: white;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.iDCaddCartButton{
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}