.UserWidgetDropdownLogIn{
    display: none;
    position: absolute;
    top: 70px;
    right: 25px;
    z-index: 10;
    background-color: white;
    padding: 10px;
    box-shadow: 2px 2px 5px black;
    border-radius: 2px;
    & ul{
        list-style: none;
        & li{
            margin: 10px;
        }
    }
}
.UserWidgetDropdownLogIn:hover{
    display: block;
}